/* 
This website is designed to the display resolution 1280 x 720(HD) pixels.
so for the better experience please resize you browser window to that resolution.
*/
/* google fonts*/
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* sets the background color */
body {
    background-color: #f5f5f5;
}

/* default setting */
#banner-section,
#Pillars_of_bangladesh_section,
#the_vision_of_future_section,
#your_opinion_matters_section,
#recent_news_section,
#donate_section,
#newsletter_section {
    margin: 0 128px 80px 192px;
    max-width: 1280px;
}

/* shared styles */
.heading-font1 {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
}

.heading-font2 {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}

.heading-font3 {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.heading-font5 {
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.heading-font6 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}

.heading-font7 {
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}
.heading-font8 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
.paragraph-font1 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}

.paragraph-font2 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

.paragraph-font3 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.6);
}

.paragraph-font4 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}
.paragraph-font5 {
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}
.button1 {
    color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border-color: #006A50;
    padding: 15px 30px;
    border-width: 1px;
}

.button2 {
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    padding: 17px 34px;
    border-style: none;
}

.button3 {
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    background-color: #5490F5;
    padding: 11px 20px;
    border-style: none;
}

.button4 {
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    background-color: #09A15C;
    padding: 11px 20px;
    border-style: none;
}

.button5 {
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFC239;
    padding: 11px 20px;
    border-style: none;
}

.button6 {
    color: #0E0E0E;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(9, 161, 92, 0.15);
    padding: 10px 14px;
}

.button7 {
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    padding: 13px 26px;
    border-style: none;
}

/* Nav Section */
#Navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 160px;
}

/* Banner Section */
#banner-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #C6E4D6;
    height: 560px;
    border-radius: 24px;
}

.banner-heading {
    margin-top: 16px;
    margin-bottom: 24px;
}

/* Pillars OF Bangladesh 2.0 Section*/
.Pillars_of_bangladesh_content {
    display: flex;
}

.pillars_of_bd_card1,
.pillars_of_bd_card2,
.pillars_of_bd_card3,
.pillars_of_bd_card4 {
    background-color: #FFFFFF;
    margin-right: 24px;
    padding: 24px;
    border-radius: 16px;
}

/* The Vision OF the FUture Section*/
.the_vision_of_future_header,
.the_vision_of_future_body {
    margin-bottom: 32px;
}

.the_vision_of_future_body {
    display: flex;
    align-items: center;

}

.the_vision_of_future_card1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.the_vision_of_future_card2 {
    background-color: rgba(198, 228, 214, 1);
}

.the_vision_of_future_card3 {
    background-color: rgba(247, 235, 207, 1);
}

.the_vision_of_future_card1,
.the_vision_of_future_card2,
.the_vision_of_future_card3 {
    margin-right: 24px;
    padding: 32px;
    border-radius: 16px;
    height: 300px;
    width: 410px;
}

.button3,
.button4,
.button5 {
    margin-top: 32px;
}

.the_vision_of_future_footer {
    padding: 48px 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.the_vision_of_future_footer_text {
    margin-top: -48px;
}

.yunus {
    margin-bottom: -10px;
}
/* Your Opinion Matters Section */
.table_container{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 32px;
}
table{
    width: 100%;
}
table, td{
    border: 1px solid #D0D0D0;
    border-collapse: collapse;
    text-align: left;
}
.left_td{ 
    padding: 24px;    
}
.table-div{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    font-size: 18px;
}
.left_th{
    margin-left: 24px;
}
.right_th{
    margin-right: 24px;
}
.table_data{
    text-align: center;
}
/* Recent News Section */
.recent_news_header{
    margin-bottom: 32px;
}
.recent_news_container1{
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 56px 48px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.recent_news_image_container1 >img{
    border-radius: 10%;
    margin-right: 32px;
}
/* Donate Section */
#donate_section{
    text-align: center;
}
.donate_section_header{
    margin-bottom: 32px;
}
.donate_section_amount{
    display: flex;
    justify-content: space-evenly;
}
.amount{
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.custom_amount{
    margin: 32px 124px;
    padding: 20px 442px;
    border-style: none;
}
.different_color{
    background-color: #C6E4D6;
}
/* Newsletter Section */
#newsletter_section{
    text-align: center;
    background-color: #C6E4D6;
    height: 395px;
    padding: 80px 329px;
    border-radius: 24px;
}
.email_field{
    padding: 18px 403px 18px 40px;
    margin: 24px auto;
    border-style: none;
    border-radius:10px 0px 0px 10px;
}
.email_field_container{
    display: flex;
    align-items: center;
}
.button_customization{
    padding: 16px 34px;
    color: #FFFFFF;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    border-radius: 0 10px 10px 0;
}
/* Footer Section */
footer{
    text-align: center;
    background-color: #FFFFFF;
    height: 226px;
}
.footer_text{
    padding: 50px 0 32px 0;
}
hr{
    width: 70%;
    color: rgba(14, 14, 14, 0.1);
}
.social_image{
    padding: 32px 11px;
}
/* Hover Effect On Page */
.button1:hover, .button2:hover, .button6:hover, .button7:hover, .button_customization:hover{
    background-color:#006A50;
    color: white;
    box-shadow: 0 0 12px #0ebac5;
    cursor: pointer;
}
.button3:hover, .button4:hover, .button5:hover{
    margin-left: -10px;
    cursor: pointer;    
}
.amount:hover{
    background-color: #C6E4D6;
    cursor: pointer;
    border-color: #006A50;
}
.the_vision_of_future_card1:hover, .the_vision_of_future_card2:hover, .the_vision_of_future_card3:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pillars_of_bd_card1:hover, .pillars_of_bd_card2:hover, .pillars_of_bd_card3:hover, 
.pillars_of_bd_card4:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}